*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root{
    --fundo-cor: black;
    --cor-texto: white;
    --cor-principal: #9d4edd;
    --cor-secundaria: rgb(10,10,10);
}

html{
    font-size: 60%;
    overflow-x: hidden;
}

body{
    background-color: var(--fundo-cor);
    color: var(--cor-texto)
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#icone-menu{
    font-size: 3.5rem;
    color: var(--cor-principal);
    display: none;
}

.logo{
    font-size: 3rem;
    color: var(--cor-texto);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

.navbar {
    display: flex;
    align-items: center;
}


.navbar a{
    font-size: 1.8rem;
    color: var(--cor-texto);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover{
    color: var(--cor-principal);
    border-bottom: 3px solid var(--cor-principal);
}

section{
    min-height: 100vh;
    padding: 10rem 15%;
}

.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.inicio-contato{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.inicio-contato h1{
    font-size: 5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.inicio-contato h3{
    font-size: 3.9rem;
}

.inicio-contato p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}

.inicio-img img{
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--cor-principal);
    transition: 0.4s ease-in-out;
}

.inicio-img img:hover{
    box-shadow: 0 0 25px var(--cor-principal), 
    0 0 50px var(--cor-principal),
    0 0 100px var(--cor-principal);
}

.icone-midia a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--cor-principal);
    border-radius: 50%;
    color: var(--cor-principal);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}

.icone-midia a:hover{
    color: var(--cor-texto);
    background-color: var(--cor-principal);
    transform: scale(1.2)translateY(-5px);
    box-shadow: 0 0 25px;
}

span{
    background: linear-gradient(90deg, #4B0082 10%, #8A2Be2);
    background-clip: text;
    color: transparent;
}

.sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--cor-secundaria);
}

.img-sobre img{
     width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--cor-principal);
    transition: 0.4s ease-in-out;
}

.img-sobre img:hover{
    box-shadow: 0 0 25px var(--cor-principal), 
    0 0 50px var(--cor-principal),
    0 0 100px var(--cor-principal);
}

.sobre-mim h2{
    font-size: 7rem;
    text-align: left;
}

.sobre-mim p{
    font-size: 1.8rem;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor-principal);
}

::-webkit-scrollbar-track{
    background-color: var(--fundo-cor);
}

.certificados{
    background-color: var(--cor-secundaria);
}

.certificados-box{
    grid-template-columns: repeat(auto-fit,minmax (300px, 1fr));
    display: grid;
    place-items: center;
    gap: 3rem;
    row-gap: 5rem;
}

.certificado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--fundo-cor);
    border: 2px solid var(--cor-principal);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--cor-principal);
    transition: 0.3s ease;
}

.certificado:hover{
    box-shadow: 0 0 25px var(--cor-principal), 
    0 0 50px var(--cor-principal);
    transform: scale(1.03);
}

.certificado img{
    max-width: 300px;
    border-radius: 2rem;
    object-fit: cover;
}

.certificado h3{
    font-size: 3rem;
}

.certificado p{
    font-size: 1.6rem;
}


.projeto{
    padding: 6rem 2rem;
}

.projeto-caixa{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projeto-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--fundo-cor);
    border: 2px solid var(--cor-principal);
    border-radius: 3rem;
    gap: 2rem;
    padding: 5rem 2rem;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 5px var(--cor-principal);
    transition: 0.3s ease;
}

.projeto-card:hover{
    box-shadow: 0 0 25px var(--cor-principal),
    0 0 50px var(--cor-principal);
    transform:  scale(1.03);
}

.projeto-img{
    max-width: 300px;
    border-radius: 2rem;
    object-fit: cover;
}

.projeto-card h3{
    font-size: 3rem;
}

.projeto-card p{
    font-size: 1.6rem;
}

.assunto{
    font-size: 2.5rem;
    margin: 6rem;
    text-align: center;
    padding: 8rem;
}

.titulo{
    font-size: 7rem;
    text-align: center;
    margin: 2rem auto;
    display: block;
    width: 100%;
}

.rodape{
    background-color: var(--cor-secundaria);
    padding: 50px 0;
}

.rodape .icone-midia{
    text-align: center;
}

.rodape ul{
    text-align: center;
    font-size: 1.8rem;
}

.rodape ul li{
    display: inline-block;
    margin-left: 20px;
}

.rodape ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.rodape ul li a:hover{
    border-bottom: 3px solid var(--cor-principal);
}


@media (max-width: 768px) {
    #icone-menu {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0, 0.3);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--cor-principal);
        border-bottom: 2px solid var(--cor-principal);
        display: none;
    }

    .navbar a{
        display: block;
        width: 100%;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--cor-texto);
    }

    .navbar.ativo{
        display: block;
    }

    .botao{
        display: none;
    }

    .inicio{
        flex-direction: column-reverse;
        margin: 5rem 0rem;
        gap: 5rem;
    }

    .inicio-img img, .img-sobre img{
        width: 35vw;
    }

    .titulo{
        text-align: center;
    }

    .inicio h1{
        font-size: 7rem;
        text-align: center;
    }

    .inicio h3{
        font-size: 3rem;
        text-align: center;
    }

    .icone-midia{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .sobre{
        flex-direction: column-reverse;
        text-align: center;
    }

    .sobre-mim h2{
        text-align: center;
        margin: 2rem 0;
    }

    .img-sobre img{
        width: 45vw;
    }

    .projeto-caixa{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .assunto{
       max-width: 480px;
       margin: 0 auto;
       line-height: 1.5;
       font-size: 18px;
       text-align: left;
    }

    .titulo{
        font-size: 5rem;
        text-align: center;
        margin: 2rem auto;
        display: block;
        width: 100%;
    }
}   